@charset "UTF-8";
/* Slider */
/* Arrows */
.slick-prev,.slick-next{display:block;position:absolute;top:173px;z-index:1;width:37px;height:61px;padding:0;border:none;font-size:0;line-height:0}
.slick-prev{left:15px;background:url(../images/safety/btn_prev.png) 0 0 no-repeat}
.slick-prev:hover{background:url(../images/safety/btn_prev_on.png) 0 0 no-repeat}
.slick-next{right:15px;background:url(../images/safety/btn_next.png) 0 0 no-repeat}
.slick-next:hover{background:url(../images/safety/btn_next_on.png) 0 0 no-repeat}

/* Dots */
.slick-dotted.slick-slider{margin-bottom:30px}
.slick-dots{display:block;position:absolute;bottom:-25px;width:100%;margin:0;padding:0;text-align:center;list-style:none}
.slick-dots li{display:inline-block;position:relative;width:20px;height:20px;margin:0 5px;padding:0;cursor:pointer}
.slick-dots li button{display:block;width:20px;height:20px;padding:5px;border:0;background:transparent;font-size:0;line-height:0;color:transparent;cursor:pointer;outline:none}
.slick-dots li button:hover,.slick-dots li button:focus{outline:none}
.slick-dots li button:hover:before,.slick-dots li button:focus:before{opacity:1}
.slick-dots li button:before{position:absolute;top:0;left:0;width:20px;height:20px;font-family:'slick';font-size:6px;line-height:20px;color:#000;text-align:center;content:'•';opacity:.25;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.slick-dots li.slick-active button:before{color:#000;opacity:.75}

/* Slider */
.slick-slider{display:block;position:relative;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{display:block;overflow:hidden;position:relative;margin:0;padding:0}
.slick-list:focus{outline:none}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{display:block;position:relative;top:0;left:0}
.slick-track:before,.slick-track:after{display:table;content:''}
.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left;height:100%;min-height:1px}
[dir=rtl] .slick-slide{float:right}
.slick-slide img{display:block}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.slick-arrow.slick-hidden{display:none}